.site-header {
    background-color: aqua;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
 margin: 0px;
}
.profile-pic{
    border-radius:50%;
    
}
.intro{
    margin: 10px;
}